.chart-title {
    font-size: 24px;
    color: #444;
    font-family: "Hevetica Neue", sans-serif;
    text-align: center;
    margin-left: 2.3em;
}

.chart-title .sub-title {
    font-size: 16px;
}

.area {
    opacity: 0.9;
}
