
.mono-font() {
    font-family: "Consolas", "Monaco", monospace;
    font-size: 13px;
}

.sans-serif() {
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 16px;
}

.make-series-colors(@namespace, @colorList) {

    .make-color(@index, @list) when (@index < 9) {
        @{list} {
            @color-def: extract(@colorList, @index);
            color: extract(@colorList, @index);
            &.line, .line {
                stroke: @color-def;
                stroke-width: @data-line-width;
                fill: none;
            }

            &.bar,
            &.column,
            &.dot,
            &.area,
            &.arc,
            .bar,
            .column,
            .dot,
            .area,
            .arc
             {
                fill: @color-def;
            }
        }
    }

    .make-color(1, ~'@{namespace}.s-1');
    .make-color(2, ~'@{namespace}.s-2');
    .make-color(3, ~'@{namespace}.s-3');
    .make-color(4, ~'@{namespace}.s-4');
    .make-color(5, ~'@{namespace}.s-5');
    .make-color(6, ~'@{namespace}.s-6');
    .make-color(7, ~'@{namespace}.s-7');
    .make-color(8, ~'@{namespace}.s-8');

}

