.narwhal-chart {
    .axis {
        stroke: #000;
        stroke-width: 1.5px;
        fill: none;

    }

    .axis text {
        font-family: arial;
        font-size: 13px;
        stroke: none;
        fill: #000;
    }

    .line {
        stroke: #ddd;
        stroke-width: 1px;
        fill: none;
    }

    .line-chart-markers .dot {
        fill: #aaa;
    }
}
