@import 'mixins.less';

@text-color: #666;
@axis-line-color: #666;
@data-line-width: 2px;
@data-line-color: #f47a5f; //#73acdb;
@data-line-marker-color: @data-line-color;
@data-bar-color: steelblue; //@data-line-color;

@axis-title-font-size: 14px;

@tooltip-background-color: #555;
@tooltip-border-color: transparent;
@tooltip-text-color: #fff;

@s1-color: #5097fc;
@s2-color: #fc4e51;
@s3-color: #7decbb;
@s4-color: #33363b;
@s5-color: #999b9d;


.narwhal-chart {
    .axis {
        stroke: @axis-line-color;
        stroke-width: 1px;
        fill: none;
        shape-rendering: crispEdges;
        .mono-font();
        text {
            stroke: none;
            fill: @text-color;
        }

        &.x .tick {
            line {
                stroke: @axis-line-color;
            }
        }
    }

    .axis-title {
        .mono-font();
        font-size: @axis-title-font-size;
        line-height: 100%;
        stroke: none;
        fill: @text-color;
    }

    .grid-line {
        stroke: #cfcfcf;
    }

    .trend-line {
        stroke-width: 1px;
        stroke: #05f;
    }
}

.cool {
    stroke: #000;
    stroke-width: 0;
    fill: #4c94ff;
}

.nw-tooltip {
    position: absolute;
    text-align: left;
    min-width: 1.5em;
    min-height: 1em;
    padding: 4px 8px;
    font: 10px sans-serif;
    line-height: 16px;
    background: @tooltip-background-color;
    border: solid 1px @tooltip-border-color;
    border-radius: 8px;
    pointer-events: none;
    .text {
        opacity: 1;
        color: @tooltip-text-color;
    }
}

.stack-tooltip {
    .mono-font();
    span {
        white-space: nowrap;
    }
}

.make-series-colors();
