
.s-2.arc {
    /*fill: transparent;*/
    opacity: 0.5;
    fill: #ddd;
}

.center-text,
.center-label {
    fill: #666;
    text-anchor: middle;
    font-family: monospace;
}

.center-text {
    font-size: 40;
}
