.chart-container {
  position: relative;
}
.contour-chart {
  position: relative;
}
.contour-chart .plot-area-background {
  fill: none;
  stroke: none;
}
.contour-chart .axis {
  stroke: #666;
  stroke-width: 1px;
  fill: none;
  shape-rendering: crispEdges;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 13px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.contour-chart .axis text {
  stroke: none;
  fill: #666;
}
.contour-chart .axis.x .tick,
.contour-chart .axis.y .tick {
  stroke: #666;
}
.contour-chart .axis-title {
  font-family: "Consolas", "Monaco", monospace;
  font-size: 14px;
  line-height: 100%;
  stroke: none;
  fill: #666;
}
.contour-chart .grid-line {
  stroke: #cfcfcf;
}
.contour-chart .trend-line {
  stroke-width: 1px;
  stroke: #05f;
}
.contour-chart .legend-wrapper {
  position: relative;
  pointer-events: none;
}
.contour-chart .legend-wrapper body {
  position: relative;
}
.contour-legend {
  position: absolute;
  border: solid 1px #bbb;
  margin: 5px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 13px;
}
.contour-legend .contour-legend-key {
  display: inline-block;
  width: .9em;
  height: .9em;
  border-radius: 1px;
  margin-right: 5px;
  margin-bottom: -0.1em;
}
.contour-legend .contour-legend-entry {
  display: inline-block;
  line-height: 1.5em;
  margin: 0 .4em;
}
.contour-legend.vertical .contour-legend-entry {
  display: block;
  margin: .2em .2em;
}
.cool {
  stroke: #000;
  stroke-width: 0;
  fill: #4c94ff;
}
.nw-tooltip {
  position: absolute;
  text-align: left;
  min-width: 1.5em;
  min-height: 1em;
  padding: 4px 8px;
  font: 10px sans-serif;
  line-height: 16px;
  background: #555;
  border: solid 1px transparent;
  border-radius: 8px;
  pointer-events: none;
  transition: all 0.05s ease-out;
}
.nw-tooltip .text {
  opacity: 1;
  color: #fff;
}
.stack-tooltip {
  font-family: "Consolas", "Monaco", monospace;
  font-size: 13px;
}
.stack-tooltip span {
  white-space: nowrap;
}
.s-1 {
  color: #2477b3;
  stroke: #2477b3;
  fill: #2477b3;
}
.s-1.line,
.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.s-1.contour-legend-key {
  background-color: #2477b3;
}
.s-1.dot,
.s-1 .dot {
  stroke-dasharray: none;
}
.s-2 {
  color: #008C48;
  stroke: #008C48;
  fill: #008C48;
}
.s-2.line,
.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.s-2.contour-legend-key {
  background-color: #008C48;
}
.s-2.dot,
.s-2 .dot {
  stroke-dasharray: none;
}
.s-3 {
  color: #EE2E2F;
  stroke: #EE2E2F;
  fill: #EE2E2F;
}
.s-3.line,
.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.s-3.contour-legend-key {
  background-color: #EE2E2F;
}
.s-3.dot,
.s-3 .dot {
  stroke-dasharray: none;
}
.s-4 {
  color: #F47D23;
  stroke: #F47D23;
  fill: #F47D23;
}
.s-4.line,
.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.s-4.contour-legend-key {
  background-color: #F47D23;
}
.s-4.dot,
.s-4 .dot {
  stroke-dasharray: none;
}
.s-5 {
  color: #662C91;
  stroke: #662C91;
  fill: #662C91;
}
.s-5.line,
.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.s-5.contour-legend-key {
  background-color: #662C91;
}
.s-5.dot,
.s-5 .dot {
  stroke-dasharray: none;
}
.s-6 {
  color: #A21D21;
  stroke: #A21D21;
  fill: #A21D21;
}
.s-6.line,
.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.s-6.contour-legend-key {
  background-color: #A21D21;
}
.s-6.dot,
.s-6 .dot {
  stroke-dasharray: none;
}
.s-7 {
  color: #B43894;
  stroke: #B43894;
  fill: #B43894;
}
.s-7.line,
.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.s-7.contour-legend-key {
  background-color: #B43894;
}
.s-7.dot,
.s-7 .dot {
  stroke-dasharray: none;
}
.s-8 {
  color: #010202;
  stroke: #010202;
  fill: #010202;
}
.s-8.line,
.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.s-8.contour-legend-key {
  background-color: #010202;
}
.s-8.dot,
.s-8 .dot {
  stroke-dasharray: none;
}
.palette-1.s-1 {
  color: #2477b3;
  stroke: #2477b3;
  fill: #2477b3;
}
.palette-1.s-1.line,
.palette-1.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-1.contour-legend-key {
  background-color: #2477b3;
}
.palette-1.s-1.dot,
.palette-1.s-1 .dot {
  stroke-dasharray: none;
}
.palette-1.s-2 {
  color: #008C48;
  stroke: #008C48;
  fill: #008C48;
}
.palette-1.s-2.line,
.palette-1.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-2.contour-legend-key {
  background-color: #008C48;
}
.palette-1.s-2.dot,
.palette-1.s-2 .dot {
  stroke-dasharray: none;
}
.palette-1.s-3 {
  color: #EE2E2F;
  stroke: #EE2E2F;
  fill: #EE2E2F;
}
.palette-1.s-3.line,
.palette-1.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-3.contour-legend-key {
  background-color: #EE2E2F;
}
.palette-1.s-3.dot,
.palette-1.s-3 .dot {
  stroke-dasharray: none;
}
.palette-1.s-4 {
  color: #F47D23;
  stroke: #F47D23;
  fill: #F47D23;
}
.palette-1.s-4.line,
.palette-1.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-4.contour-legend-key {
  background-color: #F47D23;
}
.palette-1.s-4.dot,
.palette-1.s-4 .dot {
  stroke-dasharray: none;
}
.palette-1.s-5 {
  color: #662C91;
  stroke: #662C91;
  fill: #662C91;
}
.palette-1.s-5.line,
.palette-1.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-5.contour-legend-key {
  background-color: #662C91;
}
.palette-1.s-5.dot,
.palette-1.s-5 .dot {
  stroke-dasharray: none;
}
.palette-1.s-6 {
  color: #A21D21;
  stroke: #A21D21;
  fill: #A21D21;
}
.palette-1.s-6.line,
.palette-1.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-6.contour-legend-key {
  background-color: #A21D21;
}
.palette-1.s-6.dot,
.palette-1.s-6 .dot {
  stroke-dasharray: none;
}
.palette-1.s-7 {
  color: #B43894;
  stroke: #B43894;
  fill: #B43894;
}
.palette-1.s-7.line,
.palette-1.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-7.contour-legend-key {
  background-color: #B43894;
}
.palette-1.s-7.dot,
.palette-1.s-7 .dot {
  stroke-dasharray: none;
}
.palette-1.s-8 {
  color: #010202;
  stroke: #010202;
  fill: #010202;
}
.palette-1.s-8.line,
.palette-1.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-1.s-8.contour-legend-key {
  background-color: #010202;
}
.palette-1.s-8.dot,
.palette-1.s-8 .dot {
  stroke-dasharray: none;
}
.palette-2.s-1 {
  color: #5A9BD4;
  stroke: #5A9BD4;
  fill: #5A9BD4;
}
.palette-2.s-1.line,
.palette-2.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-1.contour-legend-key {
  background-color: #5A9BD4;
}
.palette-2.s-1.dot,
.palette-2.s-1 .dot {
  stroke-dasharray: none;
}
.palette-2.s-2 {
  color: #7AC36A;
  stroke: #7AC36A;
  fill: #7AC36A;
}
.palette-2.s-2.line,
.palette-2.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-2.contour-legend-key {
  background-color: #7AC36A;
}
.palette-2.s-2.dot,
.palette-2.s-2 .dot {
  stroke-dasharray: none;
}
.palette-2.s-3 {
  color: #F15A60;
  stroke: #F15A60;
  fill: #F15A60;
}
.palette-2.s-3.line,
.palette-2.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-3.contour-legend-key {
  background-color: #F15A60;
}
.palette-2.s-3.dot,
.palette-2.s-3 .dot {
  stroke-dasharray: none;
}
.palette-2.s-4 {
  color: #FAA75B;
  stroke: #FAA75B;
  fill: #FAA75B;
}
.palette-2.s-4.line,
.palette-2.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-4.contour-legend-key {
  background-color: #FAA75B;
}
.palette-2.s-4.dot,
.palette-2.s-4 .dot {
  stroke-dasharray: none;
}
.palette-2.s-5 {
  color: #9E67AB;
  stroke: #9E67AB;
  fill: #9E67AB;
}
.palette-2.s-5.line,
.palette-2.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-5.contour-legend-key {
  background-color: #9E67AB;
}
.palette-2.s-5.dot,
.palette-2.s-5 .dot {
  stroke-dasharray: none;
}
.palette-2.s-6 {
  color: #CE7058;
  stroke: #CE7058;
  fill: #CE7058;
}
.palette-2.s-6.line,
.palette-2.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-6.contour-legend-key {
  background-color: #CE7058;
}
.palette-2.s-6.dot,
.palette-2.s-6 .dot {
  stroke-dasharray: none;
}
.palette-2.s-7 {
  color: #D77FB4;
  stroke: #D77FB4;
  fill: #D77FB4;
}
.palette-2.s-7.line,
.palette-2.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-7.contour-legend-key {
  background-color: #D77FB4;
}
.palette-2.s-7.dot,
.palette-2.s-7 .dot {
  stroke-dasharray: none;
}
.palette-2.s-8 {
  color: #737373;
  stroke: #737373;
  fill: #737373;
}
.palette-2.s-8.line,
.palette-2.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-2.s-8.contour-legend-key {
  background-color: #737373;
}
.palette-2.s-8.dot,
.palette-2.s-8 .dot {
  stroke-dasharray: none;
}
.palette-3.s-1 {
  color: #B8D2EC;
  stroke: #B8D2EC;
  fill: #B8D2EC;
}
.palette-3.s-1.line,
.palette-3.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-1.contour-legend-key {
  background-color: #B8D2EC;
}
.palette-3.s-1.dot,
.palette-3.s-1 .dot {
  stroke-dasharray: none;
}
.palette-3.s-2 {
  color: #D9E4AA;
  stroke: #D9E4AA;
  fill: #D9E4AA;
}
.palette-3.s-2.line,
.palette-3.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-2.contour-legend-key {
  background-color: #D9E4AA;
}
.palette-3.s-2.dot,
.palette-3.s-2 .dot {
  stroke-dasharray: none;
}
.palette-3.s-3 {
  color: #F2AFAD;
  stroke: #F2AFAD;
  fill: #F2AFAD;
}
.palette-3.s-3.line,
.palette-3.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-3.contour-legend-key {
  background-color: #F2AFAD;
}
.palette-3.s-3.dot,
.palette-3.s-3 .dot {
  stroke-dasharray: none;
}
.palette-3.s-4 {
  color: #F3D1B0;
  stroke: #F3D1B0;
  fill: #F3D1B0;
}
.palette-3.s-4.line,
.palette-3.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-4.contour-legend-key {
  background-color: #F3D1B0;
}
.palette-3.s-4.dot,
.palette-3.s-4 .dot {
  stroke-dasharray: none;
}
.palette-3.s-5 {
  color: #D5B2D4;
  stroke: #D5B2D4;
  fill: #D5B2D4;
}
.palette-3.s-5.line,
.palette-3.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-5.contour-legend-key {
  background-color: #D5B2D4;
}
.palette-3.s-5.dot,
.palette-3.s-5 .dot {
  stroke-dasharray: none;
}
.palette-3.s-6 {
  color: #DDB9A9;
  stroke: #DDB9A9;
  fill: #DDB9A9;
}
.palette-3.s-6.line,
.palette-3.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-6.contour-legend-key {
  background-color: #DDB9A9;
}
.palette-3.s-6.dot,
.palette-3.s-6 .dot {
  stroke-dasharray: none;
}
.palette-3.s-7 {
  color: #EBC0DA;
  stroke: #EBC0DA;
  fill: #EBC0DA;
}
.palette-3.s-7.line,
.palette-3.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-7.contour-legend-key {
  background-color: #EBC0DA;
}
.palette-3.s-7.dot,
.palette-3.s-7 .dot {
  stroke-dasharray: none;
}
.palette-3.s-8 {
  color: #CCCCCC;
  stroke: #CCCCCC;
  fill: #CCCCCC;
}
.palette-3.s-8.line,
.palette-3.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-3.s-8.contour-legend-key {
  background-color: #CCCCCC;
}
.palette-3.s-8.dot,
.palette-3.s-8 .dot {
  stroke-dasharray: none;
}
.palette-4.s-1 {
  color: #C76C16;
  stroke: #C76C16;
  fill: #C76C16;
}
.palette-4.s-1.line,
.palette-4.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-1.contour-legend-key {
  background-color: #C76C16;
}
.palette-4.s-1.dot,
.palette-4.s-1 .dot {
  stroke-dasharray: none;
}
.palette-4.s-2 {
  color: #006550;
  stroke: #006550;
  fill: #006550;
}
.palette-4.s-2.line,
.palette-4.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-2.contour-legend-key {
  background-color: #006550;
}
.palette-4.s-2.dot,
.palette-4.s-2 .dot {
  stroke-dasharray: none;
}
.palette-4.s-3 {
  color: #942300;
  stroke: #942300;
  fill: #942300;
}
.palette-4.s-3.line,
.palette-4.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-3.contour-legend-key {
  background-color: #942300;
}
.palette-4.s-3.dot,
.palette-4.s-3 .dot {
  stroke-dasharray: none;
}
.palette-4.s-4 {
  color: #5B4C00;
  stroke: #5B4C00;
  fill: #5B4C00;
}
.palette-4.s-4.line,
.palette-4.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-4.contour-legend-key {
  background-color: #5B4C00;
}
.palette-4.s-4.dot,
.palette-4.s-4 .dot {
  stroke-dasharray: none;
}
.palette-4.s-5 {
  color: #E1B79A;
  stroke: #E1B79A;
  fill: #E1B79A;
}
.palette-4.s-5.line,
.palette-4.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-5.contour-legend-key {
  background-color: #E1B79A;
}
.palette-4.s-5.dot,
.palette-4.s-5 .dot {
  stroke-dasharray: none;
}
.palette-4.s-6 {
  color: #6F8E3B;
  stroke: #6F8E3B;
  fill: #6F8E3B;
}
.palette-4.s-6.line,
.palette-4.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-6.contour-legend-key {
  background-color: #6F8E3B;
}
.palette-4.s-6.dot,
.palette-4.s-6 .dot {
  stroke-dasharray: none;
}
.palette-4.s-7 {
  color: #8ACCC0;
  stroke: #8ACCC0;
  fill: #8ACCC0;
}
.palette-4.s-7.line,
.palette-4.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-7.contour-legend-key {
  background-color: #8ACCC0;
}
.palette-4.s-7.dot,
.palette-4.s-7 .dot {
  stroke-dasharray: none;
}
.palette-4.s-8 {
  color: #010202;
  stroke: #010202;
  fill: #010202;
}
.palette-4.s-8.line,
.palette-4.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-4.s-8.contour-legend-key {
  background-color: #010202;
}
.palette-4.s-8.dot,
.palette-4.s-8 .dot {
  stroke-dasharray: none;
}
.palette-5.s-1 {
  color: #363694;
  stroke: #363694;
  fill: #363694;
}
.palette-5.s-1.line,
.palette-5.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-1.contour-legend-key {
  background-color: #363694;
}
.palette-5.s-1.dot,
.palette-5.s-1 .dot {
  stroke-dasharray: none;
}
.palette-5.s-2 {
  color: #7272B4;
  stroke: #7272B4;
  fill: #7272B4;
}
.palette-5.s-2.line,
.palette-5.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-2.contour-legend-key {
  background-color: #7272B4;
}
.palette-5.s-2.dot,
.palette-5.s-2 .dot {
  stroke-dasharray: none;
}
.palette-5.s-3 {
  color: #8686BF;
  stroke: #8686BF;
  fill: #8686BF;
}
.palette-5.s-3.line,
.palette-5.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-3.contour-legend-key {
  background-color: #8686BF;
}
.palette-5.s-3.dot,
.palette-5.s-3 .dot {
  stroke-dasharray: none;
}
.palette-5.s-4 {
  color: #9A9AC9;
  stroke: #9A9AC9;
  fill: #9A9AC9;
}
.palette-5.s-4.line,
.palette-5.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-4.contour-legend-key {
  background-color: #9A9AC9;
}
.palette-5.s-4.dot,
.palette-5.s-4 .dot {
  stroke-dasharray: none;
}
.palette-5.s-5 {
  color: #AFAFD4;
  stroke: #AFAFD4;
  fill: #AFAFD4;
}
.palette-5.s-5.line,
.palette-5.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-5.contour-legend-key {
  background-color: #AFAFD4;
}
.palette-5.s-5.dot,
.palette-5.s-5 .dot {
  stroke-dasharray: none;
}
.palette-5.s-6 {
  color: #C2C2DF;
  stroke: #C2C2DF;
  fill: #C2C2DF;
}
.palette-5.s-6.line,
.palette-5.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-6.contour-legend-key {
  background-color: #C2C2DF;
}
.palette-5.s-6.dot,
.palette-5.s-6 .dot {
  stroke-dasharray: none;
}
.palette-5.s-7 {
  color: #D7D7EA;
  stroke: #D7D7EA;
  fill: #D7D7EA;
}
.palette-5.s-7.line,
.palette-5.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-7.contour-legend-key {
  background-color: #D7D7EA;
}
.palette-5.s-7.dot,
.palette-5.s-7 .dot {
  stroke-dasharray: none;
}
.palette-5.s-8 {
  color: #EBEBF4;
  stroke: #EBEBF4;
  fill: #EBEBF4;
}
.palette-5.s-8.line,
.palette-5.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-5.s-8.contour-legend-key {
  background-color: #EBEBF4;
}
.palette-5.s-8.dot,
.palette-5.s-8 .dot {
  stroke-dasharray: none;
}
.palette-6.s-1 {
  color: #EEECE1;
  stroke: #EEECE1;
  fill: #EEECE1;
}
.palette-6.s-1.line,
.palette-6.s-1 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-1.contour-legend-key {
  background-color: #EEECE1;
}
.palette-6.s-1.dot,
.palette-6.s-1 .dot {
  stroke-dasharray: none;
}
.palette-6.s-2 {
  color: #4F81BD;
  stroke: #4F81BD;
  fill: #4F81BD;
}
.palette-6.s-2.line,
.palette-6.s-2 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-2.contour-legend-key {
  background-color: #4F81BD;
}
.palette-6.s-2.dot,
.palette-6.s-2 .dot {
  stroke-dasharray: none;
}
.palette-6.s-3 {
  color: #C0504D;
  stroke: #C0504D;
  fill: #C0504D;
}
.palette-6.s-3.line,
.palette-6.s-3 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-3.contour-legend-key {
  background-color: #C0504D;
}
.palette-6.s-3.dot,
.palette-6.s-3 .dot {
  stroke-dasharray: none;
}
.palette-6.s-4 {
  color: #9BBB59;
  stroke: #9BBB59;
  fill: #9BBB59;
}
.palette-6.s-4.line,
.palette-6.s-4 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-4.contour-legend-key {
  background-color: #9BBB59;
}
.palette-6.s-4.dot,
.palette-6.s-4 .dot {
  stroke-dasharray: none;
}
.palette-6.s-5 {
  color: #8064A2;
  stroke: #8064A2;
  fill: #8064A2;
}
.palette-6.s-5.line,
.palette-6.s-5 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-5.contour-legend-key {
  background-color: #8064A2;
}
.palette-6.s-5.dot,
.palette-6.s-5 .dot {
  stroke-dasharray: none;
}
.palette-6.s-6 {
  color: #4BACC6;
  stroke: #4BACC6;
  fill: #4BACC6;
}
.palette-6.s-6.line,
.palette-6.s-6 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-6.contour-legend-key {
  background-color: #4BACC6;
}
.palette-6.s-6.dot,
.palette-6.s-6 .dot {
  stroke-dasharray: none;
}
.palette-6.s-7 {
  color: #F79646;
  stroke: #F79646;
  fill: #F79646;
}
.palette-6.s-7.line,
.palette-6.s-7 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-7.contour-legend-key {
  background-color: #F79646;
}
.palette-6.s-7.dot,
.palette-6.s-7 .dot {
  stroke-dasharray: none;
}
.palette-6.s-8 {
  color: #1F497D;
  stroke: #1F497D;
  fill: #1F497D;
}
.palette-6.s-8.line,
.palette-6.s-8 .line {
  stroke-width: 2px;
  fill: none;
}
.palette-6.s-8.contour-legend-key {
  background-color: #1F497D;
}
.palette-6.s-8.dot,
.palette-6.s-8 .dot {
  stroke-dasharray: none;
}
