.narwhal-chart .axis {
  stroke: #666666;
  stroke-width: 1px;
  fill: none;
  shape-rendering: crispEdges;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 13px;
}
.narwhal-chart .axis text {
  stroke: none;
  fill: #666666;
}
.narwhal-chart .axis.x .tick line {
  stroke: #666666;
}
.narwhal-chart .axis-title {
  font-family: "Consolas", "Monaco", monospace;
  font-size: 13px;
  font-size: 14px;
  line-height: 100%;
  stroke: none;
  fill: #666666;
}
.narwhal-chart .grid-line {
  stroke: #cfcfcf;
}
.narwhal-chart .trend-line {
  stroke-width: 1px;
  stroke: #05f;
}
.cool {
  stroke: #000;
  stroke-width: 0;
  fill: #4c94ff;
}
.nw-tooltip {
  position: absolute;
  text-align: left;
  min-width: 1.5em;
  min-height: 1em;
  padding: 4px 8px;
  font: 10px sans-serif;
  line-height: 16px;
  background: #555555;
  border: solid 1px transparent;
  border-radius: 8px;
  pointer-events: none;
}
.nw-tooltip .text {
  opacity: 1;
  color: #ffffff;
}
.stack-tooltip {
  font-family: "Consolas", "Monaco", monospace;
  font-size: 13px;
}
.stack-tooltip span {
  white-space: nowrap;
}
.s-1 {
  color: #5097fc;
}
.s-1.line,
.s-1 .line {
  stroke: #5097fc;
  stroke-width: 2px;
  fill: none;
}
.s-1.bar,
.s-1.column,
.s-1.dot,
.s-1.area,
.s-1.arc,
.s-1 .bar,
.s-1 .column,
.s-1 .dot,
.s-1 .area,
.s-1 .arc {
  fill: #5097fc;
}
.s-2 {
  color: #fc4e51;
}
.s-2.line,
.s-2 .line {
  stroke: #fc4e51;
  stroke-width: 2px;
  fill: none;
}
.s-2.bar,
.s-2.column,
.s-2.dot,
.s-2.area,
.s-2.arc,
.s-2 .bar,
.s-2 .column,
.s-2 .dot,
.s-2 .area,
.s-2 .arc {
  fill: #fc4e51;
}
.s-3 {
  color: #7decbb;
}
.s-3.line,
.s-3 .line {
  stroke: #7decbb;
  stroke-width: 2px;
  fill: none;
}
.s-3.bar,
.s-3.column,
.s-3.dot,
.s-3.area,
.s-3.arc,
.s-3 .bar,
.s-3 .column,
.s-3 .dot,
.s-3 .area,
.s-3 .arc {
  fill: #7decbb;
}
.s-4 {
  color: #33363b;
}
.s-4.line,
.s-4 .line {
  stroke: #33363b;
  stroke-width: 2px;
  fill: none;
}
.s-4.bar,
.s-4.column,
.s-4.dot,
.s-4.area,
.s-4.arc,
.s-4 .bar,
.s-4 .column,
.s-4 .dot,
.s-4 .area,
.s-4 .arc {
  fill: #33363b;
}
.s-5 {
  color: #999b9d;
}
.s-5.line,
.s-5 .line {
  stroke: #999b9d;
  stroke-width: 2px;
  fill: none;
}
.s-5.bar,
.s-5.column,
.s-5.dot,
.s-5.area,
.s-5.arc,
.s-5 .bar,
.s-5 .column,
.s-5 .dot,
.s-5 .area,
.s-5 .arc {
  fill: #999b9d;
}
