.narwhal-chart .axis{stroke:#000;stroke-width:1.5px;fill:none}
.narwhal-chart .axis text{font-family:arial;font-size:13px;stroke:none;fill:#000}
.narwhal-chart .line{stroke:#ddd;stroke-width:1px;fill:none}
.narwhal-chart .line-chart-markers .dot{fill:#aaa}
