.contour-legend {
    border: none;
    margin-bottom: -4em;
    margin-left: -3em;
    padding: 0;
    font-size: 12px;
}

.chart-title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    color: #444;
    text-align: center;
    margin-bottom: .3em;
}

.source {
    font-size: 12px;
    text-align: right;
    margin-top: 3px;
}
